@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
:root {
  --border_color: 1px solid #2da162;
  --shadow_color: 0 0 14px 0 #03da6769;
  --radius: 20px;
}
.counter-container {
  max-width: 1120px;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
}

.counter-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.counter {
  border: var(--border_color);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: var(--shadow_color);
  padding: 20px 0;
  background-color: transparent;
}
.counter {
  color: white;
}
.counter span {
  font-weight: 900;
}
.counter-name {
  font-weight: 500;
  font-size: 20px;
}
@media screen and (max-width: 550px) {
  .counter-container {
    padding: 0px 10px;
  }
  .counter-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
